.card {
    border: 1px solid #DBDBDB;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 10px;
}
.min{

}
.marginTop{
  margin-top: 50px;
}
  
.paddingAuth {
  padding: 25px 45px;
}