// .menu{
//     display: flex;
//     justify-content: space-around;
//     gap: 22px;
// }

.nav {
    .list {
      display: flex;
      align-items: center;
      gap: 22px;
    }
}
  
  
.dark{
filter: invert(100%);
}